In [1]:
import pandas as pd
import numpy as np

In [2]:
INPUT_PATH = '../../data/processed'
INPUT_FILE_NAME = 'dataproc_v001'
OUTPUT_PATH = '../../data/processed'
OUTPUT_FILE_NAME = 'dataproc_agg_v01'
NITER = 200
NRUN = 3
DAYS_PRED = 28

### LOAD DATASET

data = pd.read_pickle(f'{INPUT_PATH}/{INPUT_FILE_NAME}.pkl')

In [3]:
data = pd.read_csv(f'{INPUT_PATH}/{INPUT_FILE_NAME}.csv', sep=';')

### AGGREGATION

In [4]:
LEVEL = ['state_id', 'date','d']

In [5]:
VAR = 'demand'

In [6]:
aggregation = {VAR: ['mean', 'min', 'max', 'std', 'median']}

In [7]:
data_agg = data.groupby(LEVEL).agg(aggregation).reset_index()

In [8]:
columns = LEVEL + [VAR + '_' + v for v in aggregation[VAR]]

In [9]:
data_agg.columns = columns

### SAVE DATASET

In [10]:
data_agg.to_pickle(f'{OUTPUT_PATH}/{OUTPUT_FILE_NAME}.pkl')

In [11]:
data_agg.head()

,state_id,date,d,demand_mean,demand_min,demand_max,demand_std,demand_median
0,0,2014-05-23,1211,1.215480,0,100,3.424985,0.0
1,0,2014-05-24,1212,1.389882,0,75,3.834877,0.0
2,0,2014-05-25,1213,1.341423,0,138,4.025995,0.0
3,0,2014-05-26,1214,1.335766,0,101,3.855254,0.0
4,0,2014-05-27,1215,1.148327,0,97,3.272491,0.0